body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.hadder{
    background-color:#F0FFF0;
    height: 500px;
}
.container{
    padding-top: 10px;
    padding-bottom: 50px;
}

.Logo-image img {
    width: 200px;
}
/*========Hadder Part===================*/
.hadder{
    padding-top: 40px;
}
.hadder-image img{
    width: 500px;
}
.nav-link {
    font-weight: 500;
    margin: 10px;
    font-size: 18px;
}

.link-button {
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 8px 18px 8px 18px;
    font-weight: 500;
    background: #21B573;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  .link-button:hover {
    background: #11C675;
    text-decoration: none;
    color: black;
  }
/*=======Icon and Catagory===============*/
  .icon-customize img{
      width: 50px;
      padding-bottom: 30px;
  }
  .icon-customize{
      text-align: center;
  }
  .box-shaddow:hover{
    background: #fcfcfc;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    cursor: pointer;
  }
/*=======Online Course Card Part=========*/
.online-Course{
    text-align: center;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 20px;
    cursor: pointer
}
.card:hover {
    background: #fbfffb;
  }
.footer-icon img{
    width: 20px;
}
/*=========This is school Gallary Part=========*/

.school-images img{
    width: 250px;
    height: 196px;
}

/*=========This is Testimonial Part=========*/
#Testimonial{
    text-align: center;
}
.Testimonial-man img{
    width: 130px;
}
.wrap{
    width: 550px;
    margin-left: 50px;
    text-align: justify ;
}

/*=========Footer Part=========*/
.footer-area {
    margin-top: 60px;
    padding: 40px;
    height: 80%;
    width: 100%;
    background-color: #282531;
    color: whitesmoke;

}

/*footer-style*/
.footer-copyright{
    margin-top: 50px;
    text-align: center;
}